@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: #000000; /* Background */
    color: #fff; /* White text */
    font-family: 'Inter', sans-serif;
    display: flex;
    line-height: 1.6em;
    letter-spacing: .04em;
    text-rendering: optimizeLegibility;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    height: 100vh;
    margin: 0 auto;
}
h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

header, main, footer {
    width: 80%; /* Adjust this to control the width of your content */
}

a {
    color: teal; /* links */
    margin: 10px 0; /* Adjust this to change the amount of space */
}

p{
    margin-top: 1.25em;
    margin-bottom: 1.6em;
    font-size: 18px;
}

a:hover {
    color: white; /* Lighter purple on hover */
}

li{
    margin: 10px 0; /* Adjust this to change the amount of space */
}

ol{
    list-style: none;
}

ul {
    padding-left: 25px;
    
}
